@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    text-align: center; 
    padding: 5px 0; 
}

nav a {
    display: inline-block; 
    color: white;
    text-align: center;
    padding: 5px 100px; 
    text-decoration: none;
    margin: 0 10px; 
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.about-me, .web-resources {
    background-color: white; 
    padding: 25px;
    color: #003366;
    border-radius: 10px;
    width: 45%;
    border: 1px solid #003366; 
    position: relative; 
}

.about-me h2, .web-resources h2 {
    background-color: #003366; 
    color: white; 
    margin: -25px -25px 25px -25px; 
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.about-me img {
    align-items: flex-start;
    margin: 0; 
    border-radius: 5px;
    max-width: 150px; 
    height: auto;  
}

.about-me p {align-items: flex-start;
    margin: 0; 
    flex-grow: 1;
    text-align: left; 
}

.about-me h3 {
    text-align: center;
    width: 100%;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    font-size: 0.8em;
}

.footer a {
    color: #ffd700;
    text-decoration: none;
}

h2 {
    color: #003366;
}

.flag {
    display: flex;
    align-items: center;
}

.flag img {
    margin-right: 15px;
}

.last-modified {
    color: #888;
    font-size: 0.8em;
}